:root {
  --yellow: #f9d806;
  --light-yellow: #ffee80;
  --black: #130f40;
  --light-color: #666;
  --violet: rgb(16, 18, 148);

  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --border: .1rem solid rgba(0, 0, 0, .1);
}
*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

.container{
  max-width: 950px;
  margin: 90px auto;
  padding: 10px;
display: grid;
grid-template-columns:repeat(auto-fill, minmax(150px,auto));
gap: 18px;
}
.item{
  color: rgb(54, 45, 45);
  box-shadow: var(--box-shadow);
  border: var(--border);
  flex-wrap: wrap;
}
.img{
  height: 70%;
  width: 100%;
  padding: 4px;
}
.img img{
  width: 100%;
  height: 100%;
}
p{
  font-size: small;
}







