#home {
    background: rgb(248, 248, 244);
    flex-grow: 1;
}

.span {
    font-size: 4rem;
}

.center {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    margin: 1.3rem;
}

.about {
    margin: 3rem auto;
    padding: 3rem 9%;
    text-align: center;
    max-width: 60rem;
    /* margin: 0 auto; */
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.about h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.about p {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.team {
    margin: 3rem 9%;
}

.team .box-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.team .box {
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.team .box-container .box img {
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.team .box-container .box h2 {
    margin: 0.4rem 0;
    color: rgb(28, 47, 221);
}

.swal-button--confirm {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: rgb(16, 18, 148);
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width:500px) {
    .team .box-container {
        flex-wrap: wrap;
    }
    .about {
        width: 95%;
    }
}